[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "configs/mozsh"]
	path = configs/mozsh
	url = https://github.com/littlemo/mozsh.git
[submodule "configs/motmux"]
	path = configs/motmux
	url = https://github.com/littlemo/motmux.git
[submodule "configs/vim-config"]
	path = configs/vim-config
	url = https://github.com/littlemo/vim-config.git
	branch = dev_movim
